/* General Body Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000;
    flex-direction: column;
}

/* Headings */
h1, h2 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

/* Form Styles */
form {
    background-color: #eeeeee;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Labels and Inputs within Form */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
}

/* Checkbox Specific Styling */
form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Submit Button */
form input[type="submit"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffd700;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 2px 2px 0 #000000;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #ffc107;
}

/* Results and Paragraph Styles */
p {
    background-color: #eeeeee;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

/* Results Container */
#results {
    text-align: center;
}

/* Button Styling */
button {
    width: calc(55% - 32px);
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffd700;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;
    box-shadow: 2px 2px 0 #000000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107;
}
