body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the form horizontally */
    align-items: center;     /* Center the form vertically */
    height: 100vh;           /* Make sure the body takes the full height of the viewport */
    color: #000000;
    flex-direction: column;  /* Ensure elements are stacked vertically */
}

h1 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

form {
    background-color: #eeeeee;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    width: 300px;               /* Fixed width for the form */
    margin: 0 auto;             /* Center the form */
    display: flex;
    flex-direction: column;     /* Ensure form elements are stacked vertically */
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

form select, form input[type="number"], form input[type="checkbox"] {
    width: calc(100% - 16px);   /* Full width with padding adjustment */
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
}

form input[type="checkbox"] {
    width: auto; /* Let checkbox take its natural width */
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: calc(100% - 16px);   /* Full width with padding adjustment */
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffcc00;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 2px 2px 0 #000000;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #ffaa00;
}

h2 {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

p {
    background-color: #eeeeee;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    width: 300px;
    margin: 20px auto;          /* Center the paragraph */
}

#results {
    text-align: center;         /* Center the results text */
}

button {
    width: calc(55% - 32px);   /* Slightly less wide than the form and results box */
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffcc00;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px auto;          /* Center the button */
    box-shadow: 2px 2px 0 #000000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}
